.App {
  padding: 2rem;
}

.fw600 {
  font-weight: 600;
}


.fs12 {
  font-size: 12px;
}

.vspace-evenly {
  display: flex;
  justify-content: space-evenly;
}


.cur-po {
  cursor: pointer;
}

.flex {
  display: flex;
}

.valign-wrappper {
  display: flex;
  align-items: center;
}

.absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.vspace-between {
  display: flex;
  justify-content: space-between;
} 

.cur-no {
  cursor: not-allowed;
}
